@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
    /* Add additional font formats and variations as needed */
}
@font-face {
    font-family: 'Anglestein';
    src: url('../fonts/Anglestein/Anglestein.ttf')format('truetype');
}

@font-face {
    font-family: 'Risque-Regular';
    src: url('../fonts/Risque/Risque-Regular.ttf')format('truetype');
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Risque-Regular';
    letter-spacing: 0.2em; /* Increase the letter spacing */
}

.sideBar {
    display: grid;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: 1px solid whitesmoke;
}

